
// Flexslider
.flexslider {
	border: 0;
	max-width: 100%;
	margin: 0;
	overflow: hidden;
	@include box-shadow(none);
	@include border-radius(0px);

	.slider-caption{
		// display: none;
	    position: absolute;
	    top: 12%;
      	width: 80%;
	    left: 10%;
	    z-index: 99;
	    text-align: left;
	    font-size: 1em;
	    line-height: 150%;
		padding: 20px;
		// text-align: center;
	}
	.slider-title{
		font-size: 1em;
		font-weight: 600;
	}
	.slider-description{
		display: inline-block;
		clear: both;
	}

	.slides{
		
		li{
			position: relative;

			&:after{
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				@include transition(all 2s);
			}
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}

		a{
			font-size: 0;
    		padding: 10px;

    		&:before,
    		&:after{
    			color: #3c5a6d;
    		}
		}
	}

	.flex-control-paging li a {
	    width: 8px;
	    height: 8px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    @include border-radius(50%);

	    &.flex-active{
			background: #0084ff;
	    }
	}

	.flex-control-nav{
		bottom: 0;
	}

}